/*====================FONTS END=======================*/
  /*====================RESET START=======================*/
  
  /* http://meyerweb.com/eric/tools/css/reset/ 
     v2.0 | 20110126
     License: none (public domain)
  */
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }

  
  ol,
  ul {
    list-style: none;
  }
  
  blockquote,
  q {
    quotes: none;
  }
  
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  /*====================RESET END=======================*/


  /*====================COMMON START=======================*/
  :root{
    --blue:#0010a0;
  }
  
  * {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Roboto', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 1000px; /*dev only*/
    line-height: 1.17;
  }

  a {
    display: inline-flex;
    text-decoration: none;
    color: inherit;
  }
  .container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }
  .section {
    margin-top: 100px;
  }
/*====================COMMON END=======================*/

  /*====================HEADER START=======================*/
  .header{
    display: flex;
    justify-content: center;
    background-color: #000090;
    padding: 5px 0;
  }
  .header-logo{
    color: #ff0;
  }
  .add-todo-form{
    display: flex;
    justify-content: center;
  }
  .add-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 15px;
  }
  .todo-delete:hover{
    background-color:red;
    color:#fff;
    border-radius: 2px;
    border: 1px solid black;
  }
  .todos{
    display: flex;
    flex-direction: column;
    align-items: center;
  }